.flex-container {
    display: flex;
    flex-flow: wrap row;
}

.black-square {
    width: 100px;
    height: 100px;
    margin: 1%;
    padding: 1%;
    background-color: black;
    color: white;
    display: flex;
    font-size: 3em;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}